:root{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.container{
    width:850px;
    height:500px;
    background-color:white;
    }
    #head{
    width: 850px;
    height: 300px;
    background-color: gold;
    }
    
    #picture{
        position: absolute;
        left: 20px;
        top:180px;
        width: 100px;
    height: 150px;
    background-color:orangered;
    
    }
    #welcome{
    position: absolute;
    top:250px;
    left: 230px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    font-size: 50px;
    }
    #navigation-bar{
    width: 850px;
    height: 100px;
    background-color: indigo;

    }
   
    #small-navigation{
        position: absolute;
       right: 100px;
       top: 259px;
      width: 300px;
      height: 50px;
      background-color: purple; 
 }
    #button-group{
        position: absolute;
       top: 285px;
       right: 728px;
        
    }
    #navButtons{
        /* background-color: silver; */
        position:absolute;
        top:350px;
        left: 250px;
    }
    
    .column{
        position: absolute
            }
    .left{
        width: 328px;
        top: 408px;
        right: 678px;
            }
    .right{
        width:512px;
        top:408px;
    }
    .row:after{
        content:"";
        display:table;
        clear:both;
    }